.row.dashboard
  .container
    .col-lg-8
      - @commits.each do |commit|
        .panel
          .row
            .col-lg-2
              = gravatar_image_for_profile(commit.author_email)
            .col-lg-10{style: "padding-left: 30px;"}
              %p
                Project:
                = commit.repository.project.title
              %p
                Commit:
                = commit.committed_at
              %p
                Author:
                = "#{commit.author_name} <#{commit.author_email}>"
              %p
                Commit ID: 
                = commit.commit_hash
            -# %li= commit.id
            -# %li= commit.author.name
            -#  gravatar_image_tag commit.author.email, class: "image-rounded"
            -# %li= commit.authored_date
            -# %li= commit.committed_date
            -# %li= commit.committer
            -# %li= commit.message
            -# %li= (commit.tree / 'Gemfile').data

      = paginate @commits
    .col-lg-4
      .container
        .panel.panel-success
          .panel-heading
            Summary
          .panel-body
            Your Project count: 
            = @projects.count
            %br/
            Recent Commit:
            %br/
            Recent Login:
            %br/



      .list-group
        - @projects.each do |project|
          = link_to project_path(project), class: "list-group-item" do
            %h5.list-group-item-heading= project.title
            %p.list-group-item-text= project.description

