.row.dashboard
  .container
    .col-lg-8
      %svg{style: "height: 300px;"}
      
      - @commits.each do |commit|
        = render partial: "shared/commit_card", locals: {commit: commit}

      = paginate @commits
    .col-lg-4
      .container
        .panel.panel-success
          .panel-heading
            Summary
          .panel-body
            Your Project count: 
            = @projects.count
            %br/
            Recent Commit:
            %br/
            Recent Login:
            %br/



      .list-group
        - @projects.each do |project|
          = link_to project_path(project), class: "list-group-item" do
            %h5.list-group-item-heading= project.title
            %p.list-group-item-text= project.description

