.row.dashboard
  .col-lg-10.col-md-9.col-sm-9
    .panel.panel-default.dashboard
      .panel-heading
        %h1 Dashboard
      .list-group
        .list-group-item
        - @projects.each do |project|
          = render partial: "shared/project_card", locals: { project: project }
    = paginate @projects
  .col-lg-2.col-md-3.col-sm-3
    .panel.panel-success.projects
      .panel-heading
        Summary
      .panel-body
        %table
          %tr
            %th Projects: 
            %td= Project.count
      .list-group
        - @projects.each do |project|
          = link_to project_path(project), class: "list-group-item" do
            %h5= project.title
            %div 
              %span.sparkline-test
              2013-09-12

