.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    .text-right
      %p= @repository.stats.count
    - @repository.commits.each do |commit|
      .panel
        .row
          .col-lg-2
            = gravatar_image_for_profile(commit.author.email)
          .col-lg-10{style: "padding-left: 30px;"}
            %p
              Author:
              = "#{commit.author.name} <#{commit.author.email}>"
            %p
              Commit ID: 
              = commit.id
          -# %li= commit.id
          -# %li= commit.author.name
          -#  gravatar_image_tag commit.author.email, class: "image-rounded"
          -# %li= commit.authored_date
          -# %li= commit.committed_date
          -# %li= commit.committer
          -# %li= commit.message
          -# %li= (commit.tree / 'Gemfile').data
  = render "shared/project_sidebar", locals: {project: @project}
