.panel-heading
  %h1 
    %i.icon-inbox
    = @project.title
    Classes
.list-group
  .list-group-item
    .row
      .text-center
        %strong Filter
        LOC
        = "/"
        Complexities
        = "/"
        Smells
        = "/"
        Duplications
        = "/"
        Churns
        = "/"
        Bugspots
      .col-lg-12.col-mg-12.col-sm-12
        = render partial: "report_module/project_sunburst", locals: { project: @project }
  %h4.list-group-item Listing classes
  .list-group-item
    %table.table.table-striped{style: "width: 100%"}
      %tr
        %th Class name
        %th LOC
        %th Complexity
        %th Smells
        %th Duplications
        %th Churn
      - @classes.each do |klass|
        %tr
          %td= link_to klass.name, project_report_klass_path(@project, @report, class_id: klass)
          %td= rand(150) 
          %td= rand(150) 
          %td= rand(150) 
          %td= rand(150) 
          %td= rand(150) 
    = paginate(@classes)
