.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    %table.table.table-striped
      %th Class
      %th File
      - @classes.each do |klass|
        %tr
          %td= link_to klass.name, project_report_klass_path(@project, @report, class_id: klass)
          %td= klass.target_file.path
    = paginate(@classes)
  = render "shared/project_sidebar", locals: {project: @project}
  
