.panel-heading
  %h1 
    %i.icon-superscript
    = @project.title
    Complexity
.list-group
  .list-group-item
    #complexity-line-chart
  .list-group-item
    .row
      .col-lg-4.col-md-4.col-sm-4
        %h4 Class complexity rank
      .col-lg-4.col-md-4.col-sm-4
        %h4 C/M complexity rank
      .col-lg-4.col-md-4.col-sm-4
        %h4 Method complexity rank
  .list-group-item
    .row
      .col-lg-4.col-md-4.col-sm-4
        %table.table.table-striped
          %tr
            %th 1.
            %td Git
          %tr
            %th 2.
            %td Report
          %tr
            %th 3. 
            %td ReportCreator
      .col-lg-4.col-md-4.col-sm-4
        %table.table.table-striped
          %tr
            %th 1.
            %td Git
          %tr
            %th 2.
            %td Report
          %tr
            %th 3. 
            %td ReportCreator
      .col-lg-4.col-md-4.col-sm-4
        %table.table.table-striped
          %tr
            %th 1.
            %td Git#report
          %tr
            %th 2.
            %td Report#git
          %tr
            %th 3. 
            %td ReportCreator#hello
  .list-group-item
    %h4 Listing Complex ( classes, methods )
  .list-group-item
    %table.table.table.striped{style: "width: 100%;"}
      %th Methods
      %th Lines
      %th Flog score
      %th Saikiro score
      - @methods.each do |method|
        %tr
          %td= link_to method.name, project_report_method_path(@project, @report, method_id: method)
          -# %td= method.complexity_score.lines unless method.complexity_score.nil?
          -# %td= method.complexity_score.flog_score unless method.complexity_score.nil?
          -# %td= method.complexity_score.saikuro_score unless method.complexity_score.nil?
          #TODO
          %td= method.scores.locs[0].score unless method.scores.locs.empty?
          %td= method.scores.flogs[0].score unless method.scores.flogs.empty?
          %td= method.scores.saikuros[0].score unless method.scores.saikuros.empty?
    = paginate @methods

:javascript
  $(function(){
    d3_multi_line_chart("#complexity-line-chart", "#{project_graph_stats_line_chart_path(project_id: @project, columns: 'date,Complexity')}");
  });



