.panel-heading
  %h1 
    %i.icon-copy
    = @project.title
    Duplications
.list-group
  .list-group-item
    #duplication-line-chart
  .list-group-item
    %img{src: "/images/horison_sunbrust.jpg", style: "width: 100%;"}    
  .list-group-item
    - @report.duplications.each_with_index do |duplication, index|
      %h4.list-group-item= "Duplication ##{index + 1}"

      %table.table.table-striped
        %th{style: "width: 65%;"} File path
        %th{style: "width: 35%;"} Line
        - duplication.file_line_infos.each do |line|
          %tr
            %td= line.target_file.path
            %td= line.line_num

:javascript
  $(function(){
    d3_multi_line_chart("#duplication-line-chart", "#{project_graph_stats_line_chart_path(project_id: @project, columns: 'date,Duplication')}");
  });



