.panel-heading
  %h1 
    %i.icon-bug
    = @project.title
    Smells
.list-group
  .list-group-item
    .row
      .col-lg-6.col-md-6.col-sm-6
        %h4 Smells ratio
      .col-lg-6.col-md-6.col-sm-6
        %h4 Classes ratio
  .list-group-item
    .row
      .col-lg-6.col-md-6.col-sm-6.text-center
        %img{src: "/images/pie_chart.png", style: "width: 80%;"}
      .col-lg-6.col-md-6.col-sm-6.text-center
        %img{src: "/images/pie_chart.png", style: "width: 80%;"}
  .list-group-item
    %h4 Class - Smells Graph
  .list-group-item
    %img{src: "/images/horison_sunbrust.jpg", style: "width: 100%;"}    
  .list-group-item
    .row
      .col-lg-9.col-md-9.col-sm-9
        %h4 Listing smells
      .col-lg-3.col-md-3.col-sm-3
        %h4 Slophgraph
  .list-group-item
    .row
      .col-lg-8.col-md-8.col-sm-8
        %table{style: "width: 100%;"}
          %th Method name
          %th Small type
          -#%th Message
          - @report.reek_smells.each do |smell|
            %tr
              - unless smell.target_method.nil?
                %td= smell.target_method.name
              - else
                %td= smell.target_class.name
              %td= smell.warn_type
              -#%td= smell.message

        %table{style: "width: 100%;"}
          %th File path
          %th Line num
          %th Message
          - @report.roodis.each do |roodi|
            %tr
              %td= roodi.file_line_info.target_file.path
              %td= roodi.file_line_info.line_num
              %td= roodi.message
      .col-lg-4.col-md-4.col-sm-4
        %img{src: "/images/slopegraph.png", style: "width: 100%;"}    



