.report-module
  %h5 Summary
  %table.table.table-striped
    %tr
      %th # of files
      %td= report.sum_files unless report.nil?
      %td  
        %span.file-sparkline{class: "file-sparkline-#{project.title}"}
    %tr
      %th # of classes
      %td= report.sum_classes unless report.nil? 
      %td
        %span.class-sparkline{class: "class-sparkline-#{project.title}"}
    %tr
      %th # of methods
      %td= report.sum_methods unless report.nil? 
      %td
        %span.method-sparkline{class: "method-sparkline-#{project.title}"}
    %tr
      %th Complexities
      %td= report.sum_complexities unless report.nil? 
      %td
        %span.complexity-sparkline{class: "complexity-sparkline-#{project.title}"}
    %tr
      %th Com / Methods
      %td= report.sum_complexities / report.sum_methods unless report.nil? && report.sum_methods != 0
      %td
        %span
    %tr
      %th Duplications
      %td= report.sum_duplications if report.sum_duplications 
      %td
        %span.duplication-sparkline{class: "duplication-sparkline-#{project.title}"}
    %tr
      %th Smells
      %td= report.sum_smells if report.sum_smells
      %td
        %span.smell-sparkline{class: "smell-sparkline-#{project.title}"}
    %tr
      %th Churns
      %td= report.sum_churns if report.sum_churns
      %td
        %span.churn-sparkline{class: "churn-sparkline-#{project.title}"}

:javascript
  $(function(){
  #{ 
    result = ""
      %w{churn complexity duplication smell commit file class method}.each do |item|
      result += "to_sparkline('." + item + "-sparkline-" + project.title + "', " + project.get_stats_by_day(item + "_stat").to_s + ");\n"
    end

  result
  }
  });

