.report-module
  %h5 Summary
  %table
    %tr
      %th Lines of code
      %td= rand(150)
      %td  
        %span.sparkline-test
    %tr
      %th # of classes
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th # of methods
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th Complexities
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th Com / Methods
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th Duplications
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th Smells
      %td= rand(150)
      %td
        %span.sparkline-test
    %tr
      %th Churns
      %td= rand(150)
      %td
        %span.sparkline-test
