%nav.header.navbar.navbar-fixed-top.navbar-inverse
  %a.navbar-brand{href: "/"} 
    %img{src: "/logo.png", style: "width: 35px;"} 
    Putne
  %ul.nav.navbar-nav
    -#%li= link_to "Projects", projects_path if signed_in?
    - if signed_in?
      %li= link_to "Dash board", root_path if signed_in?
      %li= link_to "New project", new_project_path if signed_in?
    %li= link_to "Help", help_path
    %li= link_to "About Putne", about_path
  - unless user_signed_in?
    -#= login_form_for_header
  - else
    .pull-right
      %a{href: destroy_user_session_path, "data-method" => "delete"}
        %button.btn.btn-danger.navbar-btn.pull-right{type: "button"} Sign out
      %ul.nav.navbar-nav.pull-right{style: "margin-right: 25px"}
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = gravatar_image_for_navbar
            = current_user.email
            %span.caret
          %ul.dropdown-menu.navbar-profile
            .text-center.gravatar-profile
              = gravatar_image_for_profile
            %li.divider
            %li
              %a{href: "#"} Profile
            %li
              = link_to "New project", new_project_path
            %li
              %a{href: "#"} Account
            %li 
              = link_to "API Key", user_secret_key_path(user_id: current_user.id)
            %li.divider
            - if current_user.has_role?(:admin)
              %li
                = link_to "Admin", rails_admin_path
              %li
                = link_to "Sidekiq Report", sidekiq_web_path

            
            
