.info
  .address.lead
    = current_user.email
    = " / "
    = @project.title
    = " / master"
    = " / "

    
  .row
    .description
      .col-lg-7
        = @project.description
      .col-lg-5.text-right
        = link_to "Homepage", @project.homepage

      
  
