.info
  .address
    %i.icon-folder-open
    = current_user.nickname
    = " / "
    - unless @project.homepage.nil?
      = link_to @project.homepage do
        %i.icon-home
        = @project.title
    - else
      = @project.title
    = " / "
    .btn-group
      %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown"} 
        master
        %span.caret
    = " / "
    .btn-group
      %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
        = @report_type.nil? ? "Reports" : @report_type
        %span.caret
      %ul.dropdown-menu
        %li
          %a Complexities
        %li
          %a Duplications
        %li
          %a Code Smells
        %li
          %a Classes
        %li
          %a Methods
    = " / "
    .btn-group
      - commit_id = @project.reports[-1].commit.commit_hash[0..8]
      %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown"}
        = @current_commit_id.nil? ? commit_id : @current_commit_id
        %span.caret
      %ul.dropdown-menu
        - @project.reports.each do |report|
          %li
            %a= report.commit.commit_hash[0..8]
%br/
