.sidebar.col-lg-3
  %ul.nav.nav-pills.nav-stacked
    %li
      = link_to project_synopsis_url(@project) do
        %span.badge.pull-right#synopsis-help ?
        %span.badge.pull-right 43
        Synopsis
    %br/
    %li
      = link_to project_files_url(@project) do
        %span.badge.pull-right#files-help ?
        %span.badge.pull-right 43
        Files
    %li
      = link_to project_classes_url(@project) do
        %span.badge.pull-right#classes-help ?
        %span.badge.pull-right 43
        Classes
    %li
      = link_to project_methods_url(@project) do
        %span.badge.pull-right#methods-help ?
        %span.badge.pull-right 43
        Methods
    %br/
    %li
      = link_to project_churn_url(@project) do
        %span.badge.pull-right#churn-help ?
        %span.badge.pull-right 43
        Churn
    %li
      = link_to project_complexity_url(@project) do 
        %span.badge.pull-right#complexity-help ?
        %span.badge.pull-right 43
        Complexity
    %li
      = link_to project_duplicity_url(@project) do
        %span.badge.pull-right#duplicity-help ?
        %span.badge.pull-right 43
        Duplicity
    %li
      = link_to project_smells_url(@project) do
        %span.badge.pull-right#smells-help ?
        %span.badge.pull-right 43
        Smells
    %br/
    %li
      = link_to project_report_url(@project) do
        %span.badge.pull-right#report-help ?
        %span.badge.pull-right 43
        Report
    %li
      = link_to project_timeline_url(@project) do
        %span.badge.pull-right#timeline-help ?
        %span.badge.pull-right 43
        Timeline
    %br/
    %li
      = link_to @project.repository_url do
        %span.badge.pull-right#repository-help ?
        %span.badge.pull-right 43
        Repository
    %li
      = link_to url_for(controller: "projects", action: "settings", id: @project.id) do
        %span.badge.pull-right#settings-help ?
        %span.badge.pull-right 43
        Settings
