%h4= link_to project.title, project_path(project.id), class: "list-group-item"
.list-group-item  
  .row
    .col-lg-4.col-mg-4.col-sm-4
      = render partial: "report_module/project_summary_4", locals: {project: project, report: project.latest_report}      
    .col-lg-4.col-mg-4.col-sm-4
      = render partial: "report_module/project_activity_4", locals: {project: project}      
    .col-lg-4.col-mg-4.col-sm-4
      %div{id: "#{project.title}-class-donut"}
      #code-smell-line-chart
      #language-stacked-area-chart
      -#= render partial: "report_module/project_complexity_chart_4", locals: {project: project}      
      .report-module
        %h5 Complexity
        .text-center
          -# %img{src: "/images/donut_chart.png", style: "width: 60%;"}

            
:javascript
  $(function(){
  d3_donut_chart("##{ project.title + "-class-donut"}", "#{project_graph_class_donut_chart_path(project_id: project)}")
  });




