.info
  .address.lead
    = current_user.email
    = " / "
    = @project.title
    = " / master"
  .divider
  .row
    .description
      .col-lg-7
        = @project.description
      .col-lg-5
        = @project.homepage
      
  
