.list-group
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_summary_4", locals: { report: project.latest_report }      
        %br/
        = render partial: "report_module/project_hotspot_4", locals: { report: project.latest_report }
      .col-lg-8.col-mg-8.col-sm-8
        %div#project-sunburst

  %h4.list-group-item Commit trend
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_activity_4", locals: {project: project}      
      .col-lg-8.col-mg-8.col-sm-8
        #commit-trend-calendar-chart
        -#%img{src: "/images/stacked_bar_chart.png", style: "width: 100%; height: 250px;"}

  %h4.list-group-item Code quality timeline
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_summary_4", locals: { report: project.latest_report}      
      .col-lg-8.col-mg-8.col-sm-8
        #code-quality-line-chart
        -#%img{src: "/images/line_chart.jpg", style: "width: 100%; height: 250px;"}

  %h4.list-group-item Class Complexity timeline
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_complexity_4", locals: {project: project}      
      .col-lg-8.col-mg-8.col-sm-8
        #class-complexity-line-chart

  %h4.list-group-item Code smell timeline
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_smell_4", locals: {project: project}      
      .col-lg-8.col-mg-8.col-sm-8
        #code-smell-line-chart

  %h4.list-group-item Language
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_language_4", locals: {project: project}      
      .col-lg-8.col-mg-8.col-sm-8
        #language-stacked-area-chart
        -#%img{src: "/images/stacked_area_chart.png", style: "width: 100%; height: 250px;"}

:javascript
  $(function(){
    //d3_sunburst_chart("#project-sunburst");
    d3_sunburst_chart("#project-sunburst", "#{project_graph_sunburst_chart_path(project_id: @project)}" );
    d3_calendar_chart("#commit-trend-calendar-chart", "#{project_graph_git_dates_path(project_id: @project)}");
    d3_multi_line_chart("#code-quality-line-chart");
    d3_multi_line_chart("#class-complexity-line-chart");
    d3_multi_line_chart("#code-smell-line-chart");
  });

