%h1 Listing projects

%table
  %tr
    %th Title
    %th Description
    %th Language
    %th Repository type
    %th Repository url
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.title
      %td= project.description
      %td= project.language
      %td= project.repository_type
      %td= project.repository_url
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
