.row
  .project.container.panel
    = render "shared/project_sidebar", locals: {project: @project}
    .main.col-lg-9
      .info
        = current_user.email
        = " / "
        = @project.title
        = " / master"


%p#notice= notice

