.row
  .project.container.panel{style: "margin-top: 25px;"}
    .project-body.col-lg-9
      = current_user.email
      = " / "
      = @project.title
      = " / master"

    = render "shared/project_sidebar", locals: {project: @project}
    

%p#notice= notice

