-#%svg#reports-summary-graph{style: "height: 300px;"}
.panel-heading
  %h1 
    %i.icon-bar-chart
    = @project.title
.list-group-item
  -#%img{src: "/images/line_chart.jpg", style: "height: 300px;width: 100%;"}
  .row
    .col-lg-12.col-mg-12.col-sm-12
      #code-quality-line-chart

%table.table.table-striped
  %th At
  -#%th Commit
  %th Class
  %th Methods
  %th Churn
  %th Complex
  %th Smell
  - @reports.each do |report|
    %tr
      -#%td= 
      %td= link_to report.commit.committed_at, project_report_path(report.project, report)
      -#%td= report.commit_stat
      %td= report.class_stat
      %td= report.method_stat
      %td= report.churn_stat
      %td= report.complexity_stat
      %td= report.smell_stat
= paginate(@reports)

:javascript
  $(function(){
    d3_multi_line_chart("#code-quality-line-chart", "#{project_graph_stats_line_chart_path(project_id: @project)}");
  });
