%svg#reports-summary-graph{style: "height: 300px;"}
.page-header
  %h1 Reports
%table.table.table-striped
  %th At
  -#%th Commit
  %th Class
  %th Methods
  %th Churn
  %th Complex
  %th Smell
  - @reports.each do |report|
    %tr
      -#%td= 
      %td= link_to report.commit.committed_at, project_report_path(report.project, report)
      -#%td= report.commit_stat
      %td= report.class_stat
      %td= report.method_stat
      %td= report.churn_stat
      %td= report.complexity_stat
      %td= report.smell_stat
