!!!
%html
  %head
    %title Putne
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "shared/navbar" 
    .main-contents
      .row
        = yield
    .footer
      Project 
      %a{href: "http://github.com/nacyot/putne"} Putne.
      Copyright © 2013 by Daekwon Kim (
      %a{href: "http://twitter.com/nacyo_t"} @nacyot
      )

